<div
  class="pwa-install-banner"
  data-pwa-install-target="banner"
  data-ios-text="{{ 'install_app.banner.ios_text'|trans }}"
  data-android-text="{{ 'install_app.banner.android_text'|trans }}"
  hidden
>
  <div class="pwa-install-banner__content">
    <div class="pwa-install-banner__icon">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <p class="pwa-install-banner__text" data-pwa-install-target="text"></p>
  </div>

  <div class="pwa-install-banner__actions">
    <button
      type="button"
      class="pwa-install-banner__button pwa-install-banner__button--primary"
      data-pwa-install-target="bannerInstallButton"
      data-action="click->pwa-install#install"
      hidden
    >
      {{ 'install_app.banner.install'|trans }}
    </button>
    <button
      type="button"
      class="pwa-install-banner__button"
      data-action="click->pwa-install#dismiss"
    >
      {{ 'install_app.banner.later'|trans }}
    </button>
  </div>
</div>
