<a href="{{ path('app_landing') }}" class="nav-logo">
  <div class="nav-logo-icon">
    <i class="fas fa-key"></i>
  </div>
  <span class="nav-logo-text">
    <span class="logo-my">MY</span><span class="logo-key">KEY</span><span class="logo-nest">NEST</span>
  </span>
</a>
