<a class="settings-link app-ui-settings-link" href="{{ href }}">
  <span class="settings-icon"><i class="{{ icon }}"></i></span>
  <span class="settings-text">{{ label }}</span>
  <i class="fa-solid fa-chevron-right settings-chevron" aria-hidden="true"></i>
</a>
