<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

    {% block stylesheets %}{% endblock %}
  </head>

  <body data-controller="layout">
    {% if app.user %}
      {% include "./components/header.html.twig" %}
    {% endif %}
      {% if app.user %}
        {% include "./components/sidebar.html.twig" %}
      {% endif %}
        <!-- Backdrop -->
  <div class="sidebar-backdrop"
       data-layout-target="backdrop"
       data-action="click->layout#closeSidebar"></div>
    <div class="wrapper-layout">


      <!-- MAIN CONTENT -->
      <main class="main-content">
        {% block body %}{% endblock %}
      </main>
    </div>
  </body>
</html>
