{% extends 'base.html.twig' %}
{% block title %}Mes équipes{% endblock %}

{% block body %}
<h1>Mon profil</h1>

{% if app.user.avatarName %}
  <img
    src="{{ asset('uploads/avatars/' ~ app.user.avatarName) }}"
    alt="Avatar"
    style="width:120px;height:120px;border-radius:50%;object-fit:cover;"
  >
{% else %}
  <p>Aucun avatar</p>
{% endif %}

{{ form_start(form) }}
  {{ form_row(form.avatarFile) }}
  <button type="submit">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}