{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div data-controller="auth"  class="register-box">
    <h1>JOIN NOW</h1>

    <form data-action="submit->auth#register">

        <label>Nom de la societe</label>
        <input type="text" data-auth-target="company" required>

        <label>Email</label>
        <input type="email" data-auth-target="email" required>

        <label>Password</label>
        <input type="password" data-auth-target="password" required>

        <button type="submit" class="pixel-button btn-start">Create Account</button>
               <p class="auth-hint">
   Login <a href="/login">Sign in</a>
</p>
    </form>

    <div data-auth-target="result"></div>
</div>


{% endblock %}
