{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Menu</h1>
<button><i class="fas fa-skull-crossbones fa-beat" style="color:red;"></i>
</button>
    </div>

{% endblock %}
